.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper__content {
  display: flex;
  gap: 16px;
}

.wrapper__input {
  margin-bottom: 24px;
}

.wrapper__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 267px));
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart {
  width: 300px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.card-list {
  width: 100%;
  padding: 24px;
}

.card div {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 300px;
  padding: 16px;
}